.full-height {
  height: 100%;
}

.image-view {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.image-container {
  height: 100%;
  text-align: center;
  padding: 40px;
  height: 90%;
}

.image-toolbar {
  width: 100%;
  align-self: flex-start;
  position: absolute;
}

#image-displayed {
  max-height: calc(100% - 16px);
  max-width: calc(100% - 16px);
}

.hidden {
  display: none
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  cursor: progress;
}

@media print {
  header, footer, div.sidebar {
    display: none
  }

  .pane {
    border: none
  }
}